<!DOCTYPE html>
<html>

<head>
  <title>Sensor</title>
  <%- include('import'); -%>
</head>

<body>
  <%- include('navs'); -%>
  <div class="container">
    <div class="row">
      <div class="post-detail">
        <h1><%= sensor.name %></h1>
        <% sensor.measurements.forEach((measurement) => { %>
        <p><%= measurement.date %></p>
        <p><%= measurement.temperature %> </p>
        <p><%= measurement.humidity %></p>
        <% }); %>
      </div>
    </div>
  </div>

</body>

</html>